#ashlogo {
  width: 8vw;
}

#asflogo {
  width: 175px;
}

footer {
  /* position: fixed;
        left: 0;
        bottom: 0; */
  width: 100%;
  background-color: lightgray;
  opacity: 0.5;
}

.phead {
  padding: 0%;
  background-image: linear-gradient(to right, white, lightblue);
}

.phead h4 {
  font-size: 27px;
}

.hfas {

  color: black;

}


.nvbr {


  background-color: lightblue;
}

.proc-card {
  margin-bottom: 10px;
  border-width: 3px;
}

.proc-card-body {
  padding: 1rem;
}

.proc-btn {
  margin-top: 5px;
  float: right;
  padding: .2rem .375rem;
}

.summary-btn {
  float: right;
}

#processed-title {
  position: fixed;
  top: 0;

}

/* .processed-row-scroll {
        height: 600px;
        overflow-y: scroll;
    } */

.myButton {
  color: red;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}



.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.button-success {
  background-color: #4CAF50;
}

.button-error {
  background-color: #C12525;
}

.button-warning {
  background-color: #FF8C00;
}

.button-success:hover {
  background-color: #46a049;
  color: black;
}

.button-error:hover {
  background-color: #AB2121;
  color: black;
}

.button-warning:hover {
  background-color: #E67E00;
  color: black;
}

#status{
  color: #AB2121;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: lightgrey;
  float: right;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#sidebarOpenBtnDiv {
  float: right;
}

.openbtn {
  float: right;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: #0066a1;
  padding-left: 50%;
  padding: 5px 5px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.exec-card
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 25px;
    border-width: 3px;
    border-color: green;
    background-color: #bfbfbf;
    width: 300px;
    box-shadow: 10px 10px 5px grey;
}
.exec-card-header:first-child
{
  background-color: #bfbfbf;
  border-radius: 25px;
}
#exec-expand-btn
{
  background-color: transparent;
  border-color: transparent;
  float: right;
}
.exec-check-box
{
  background-color: transparent;
  border-color: transparent;
}

.accordion {
  width: 100%;
  max-width: 360px;
  margin: 30px auto 20px;
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link { color: #b63b4d; }

.accordion li.open i { color: #b63b4d; }

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/


.submenu {
  display: none;
  background: grey;
  font-size: 28px;
  color: white;
}

.submenu li { border-bottom: 1px solid #4b4a5e; }

.submenu a {
  display: block;
  text-decoration: none;
  color: pink;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #b63b4d;
  color: #FFF;
}



.datepicker {
    width: 50%;
}
#bottomdetails {
  position: relative;
    text-align: right;
}

label {
float: left;
font-size: 14px;
}

/*Datepicker window*/
.ui-datepicker th {
  text-transform: uppercase;
  font-size: 6pt;
  padding: 5px 0;
  color: #666666;
  text-shadow: 1px 0px 0px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=0);
}
.ui-datepicker thead {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
  background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
  border-bottom: 1px solid #bbb;
}
.ui-datepicker-header {
  background: url('../img/dark_leather.png') repeat 0 0 #000;
  color: #e0e0e0;
  font-weight: bold;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
  box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
  text-shadow: 1px -1px 0px #000;
  filter: dropshadow(color=#000, offx=1, offy=-1);
  line-height: 30px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #111;
}
.ui-datepicker tbody td {
  padding: 0;
  border-right: 1px solid #bbb;
  background: white;
}

.proc-card-a {
  width: 250px;
  height: 250px;
  margin-top: 0;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

